@page
@using nhlstendencafe.Pages.Shared
@model RegisterModel

@{
    ViewData["Title"] = "Registreren";
}

<div class="container w-50">
    <h2 class="mb-4">Maak een account</h2>

    <form method="post" class="">
      
     <div class="form-group">
               <label asp-for="@Model.user.FirstName" class="form-label">Voornaam</label>
               <input asp-for="@Model.user.FirstName" type="text" class="form-control"/>
               <span asp-validation-for="@Model.user.FirstName" class="text-danger"></span>
               
           </div>
         
        <div class="form-group">
            <label asp-for="@Model.user.LastName" class="form-label">Achternaam</label>
            <input asp-for="@Model.user.LastName" type="text" class="form-control"/>
            <span asp-validation-for="@Model.user.LastName" class="text-danger"></span>
            
        </div>
        
      <div class="form-group">
            <label asp-for="@Model.user.Email" class="form-label">E-mail</label>
            <input asp-for="@Model.user.Email" type="text" class="form-control"/>
            <span asp-validation-for="@Model.user.Email" class="text-danger"></span>
            </div>
       
        <div class="form-group">
            <label asp-for="@Model.user.Password" class="form-label">Wachtwoord</label>
            <input asp-for="@Model.user.Password" type="password" class="form-control"/>
            <span asp-validation-for="@Model.user.Password" class="text-danger"></span>
        </div>
   
        <div class="form-group">
            <label asp-for="@Model.user.ConfirmPassword" class="form-label">Bevestig wachtwoord</label>
            <input asp-for="@Model.user.ConfirmPassword" type="password" class="form-control"/>
            <span asp-validation-for="@Model.user.ConfirmPassword" class="text-danger"></span>
        </div>
   
        <div class="row mt-4">
            <div class="col-6">
                <button type="submit" class="btn btn-primary w-100">Account maken</button>
            </div>
            <div class="col-6">
                <a class="btn btn-outline-primary w-100" href="/Login">Al een account?
                    <span class="text-decoration-underline">Login</span></a>
            </div>
        </div>
    </form>

</div>