@page
@model nhlstendencafe.Pages.Categories.Index

<h1>Categorieën</h1>
<a asp-page="Create" class="btn btn-primary">Maak een nieuwe categorie</a>
<hr>

<div class="card">
    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Categorie</th>
                    <th>Aantal producten</th>
                    <th>Bewerken</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var category in Model.Categories)
                {
                    <tr class="table-row">
                        <td>@category.Name</td>
                        <td>@category.Products.Count()</td>
                        <td>
                            <div class="action-buttons">
                                <a asp-page="Update" asp-route-categoryId="@category.CategoryId" asp-route-category="@category.Name" class="btn-sm btn-primary me-2">Bijwerken</a>
                                <a asp-page="Delete" asp-route-categoryId="@category.CategoryId" asp-route-category="@category.Name" class="btn-sm btn-danger">Verwijderen</a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="/js/tableButtons.js"></script>
}